.headerTogglerSideNav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.headerTogglerSideNav a {
  padding: 10px 32px;
  text-decoration: none;
  font-size: 17px;
  color: #000000;
  display: block;
  transition: 0.3s;
  font-weight: bold;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.headerTogglerSideNav a.headerTogglerNavOption {
  font-size: 14px;
  color: gray;
  font-weight: 400;
  border: none;
}

.headerTogglerSideNav a:hover {
  background-color: #f1f1f1;
}

.headerTogglerSideNav .headerTogglerclosebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
}

.headerTogglerMenuBtn {
  margin: 0 5px;
  border: 1px solid #8d8d89;
  padding: 0px 5px 2px 5px;
  border-radius: 3px;
  box-sizing: content-box;
  font-size: 25px;
  cursor: pointer;
}
