.header {
  display: flex;
  background-color: #131921;
  height: 55px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  color: white;
}

.headerLogo {
  display: block;
  width: 100px;
  padding: 10px 3px 0px 3px;
  border: 1px solid transparent;
}
.headerSearch {
  display: flex;
  flex: 1;
  margin: auto 10px;
  align-items: center;
}
.headerSearchInput {
  flex: 1;
  padding: 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #131921;
  border: none;
}
.headerSearchIcon {
  padding: 5px;
  background-color: #f8b257;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #131921;
  box-sizing: content-box;
  cursor: pointer;
}

.headerNavbar {
  display: flex;
}
.headerLanguageIcon {
  display: block;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  padding: 7px 13px;
  height: auto;
  width: 55px;
}
a.headerLink {
  color: white;
}

.headerNavOption {
  border: 1px solid transparent;
  padding: 4px 10px;
}
.headerNavText1 {
  font-size: 11px;
}
.headerNavText2 {
  font-size: 13px;
  font-weight: 750;
}
.headerCart {
  display: flex;
  margin-right: 3px;
  border: 1px solid transparent;
  align-items: center;
  padding: 10px;
}
.headerCartItems {
  color: #f8b257;
  font-size: 15px;
  font-weight: 750;
}

.header :hover {
  text-decoration: none;
}

a.headerLink :hover {
  border: 1px solid white;
}
a.headerLink div :hover {
  border: none;
}
