.checkoutRightImage {
    display: block;
    width: 250px;
  }
  .checkoutRightBox {
    padding: 15px;
    background-color:white;
    font-size: 19px;
    margin:15px auto;
    border-radius: 2px;
  }
  
  /* .checkoutRightBoxGift {
    fontSize: "14px";
  } */
  
  .checkoutRightBoxButton {
    width: 100%;
    padding: 5px;
    font-size: 13px;
    margin-top: 10px;
    /* font-weight: 500; */
  }