.checkout {
  padding: 15px 20px;
  background: #ececec;
  min-height: calc(100vh - 180px);
}
.checkoutContainer {
  display: flex;
  justify-content: space-between;
  /* padding-bottom: 50px; */
}

.checkoutLine1 {
  font-size: 13px;
  font-weight: 700;
}
.checkoutLine2 {
  font-size: 13px;
  margin-bottom: 20px;
}

