.checkoutProduct {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d6d6d6;
  margin: 5px auto;
  padding: 5px 0px 5px 5px;
}

.checkoutProductLeft {
  display: flex;
}
.checkoutProductImg {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkoutProductImg > img {
  display: block;
  max-width: 200px;
  max-height: 200px;
}

.checkoutProductText {
  margin-left: 15px;
  font-size: 12px;
}
.checkoutProductHeading {
  font-size: 18px;
  font-weight: 600;
  color: #3027aa;
}

.checkoutProductRight {
  font-size: 22px;
  font-weight: bold;
}
.checkoutProductGift {
  margin-top: 5px;
}

.checkoutProductText > button {
  margin: 10px auto;
}

.countButton {
  border: 1px solid;
  background: linear-gradient(#f8f8f8, #e2e2e2);
  border-radius: 2px;
  color: #111111;
  border-color: #b3b1b2;
  padding: 0 8px;
  font-weight: 500;
  font-size: 15px;
}
.countButton:hover {
  background: linear-gradient(#e2e2e2, #dbdada);
}
.count{
  display:inline-block;
  width:20px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;  
}