.method {
  max-width: 1000px;
  margin: auto;
  padding: 2px;
  display: flex;
  flex-direction: column;
}
.methodImageBanner {
  margin: 30px auto;
  margin-left: 0;
}

.seperator20 {
  height: 20px;
}

.methodHeading {
  font-size: 23px;
  font-weight: 500;
}
