.homeGridItem {
  display: flex;
  flex-direction: column;
  margin: 5px;
  justify-content: space-between;
  height: 100%;
}

.homeGridItemImage > img {
  display: block;
  margin: auto;
  height: 200px;
}

.homeAuthBox {
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homeAuthLink {
  font-size: 10px;
  text-align: right;
}

.homeAuthBoxButton {
  font-size: 12px;
  padding: 5px;
  width: 100%;
}

.homeAuthBoxHeading {
  font-size: 20px;
  font-weight: 750;
}
.homeGridItemtext {
  font-size: 14px;
  margin-top: 5px;
}
