.homeCarousel {
  max-width: 1350px;
  margin: auto;
}

.homeCarouselNextIcon,
.homeCarouselBackIcon {
  color: white;
  position: absolute;
  bottom: 75%;
}

.homeCarouselImage {
  z-index: -1;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
