.homeProductsContainer {
  background-color: #dbd6d6a2;
  padding-bottom: 50px;
  min-height: calc(100vh - 180px);
}

.bannerImage {
  margin: auto;
  max-height: 250px;
  display: flex;
}

.bannerImage img {
  display: block;
  margin: auto;
  max-width: 70%;
  /* height: auto; */
  max-height: 250px;
}
